<h1>Welcome <%= @user.fullname %></h1>


<p>Email: <%= @user.email %></p>
<br>
<p>Address: <%= @user.street %>, <%= @user.city %>, <%= @user.state %>, <%= @user.postal %> <%= @user.country %></p>
<p>Username: <%= @user.username %></p>
<p>Phones: <%= @user.phones %></p>
